* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #505562;
    color: #ffffff;
}

.container {
    width: 250px;
    margin: 10px auto;
    border-radius: 12px;
}

.header {
    background-color: #f3f3f5;
    text-align: center;
    padding: 1.75rem;
    border: .5px solid #b9bbc2;
    border-bottom: .5px;
}

.header h1 {
    font-size: 2.25rem;
    color: #505562;
}

.date {
    background-color: #ddd9d9;
    text-align: right;
    font-size: .75rem;
    padding: .75rem 2rem .75rem 0;
    border: .5px solid #b9bbc2;
}

ul.currencies {
    height: 500px;
    background-color: #ffffff;
    border: .5px solid #b9bbc2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

ul.currencies li {
    background-color: #ffffff;
    border: .5px solid #b9bbc2;
    border-radius: 4px;
    list-style: none;
    padding: 1rem 1rem .75rem 1rem;
    margin-bottom: 1.5rem;
}

ul.currencies li:last-child {
    margin-bottom: 0;
}

ul.currencies li.base-currency {
    background-color: #264d73;
}

.flag {
    width: 60px;
    height: 40px;
    border: .5px solid #ffffff;
    vertical-align: top;
}

.info {
    display: inline-block;
}

.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.info .input input {
    font-size: 1.5rem;
    width: 78%;
    background-color: transparent;
    border: 2px solid #b9bbc2;
    border-radius: 4px;
    color: #ffffff;
    padding: .5rem;
    margin-bottom: .75rem;
}

.add-currencies-btn {
    background-color: rgb(10, 10, 87);
    color: #ffffff;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: lighter;
    border: none;
    border-radius: 12px;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color .25s;
    transition-duration: .4s;
}

.add-currencies-btn:hover {
    background-color: rgb(60, 60, 146);
    color: white;
}